
Advanced Task/Part 2/ETL/.vs/ETL/v16/.suo
Advanced Task/Part 2/ETL/.vs/slnx.sqlite
Advanced Task/Part 2/ETL/.vs/VSWorkspaceState.json
Advanced Task/Part 2/ETL/errors/DimdateLookup_errors.txt
Advanced Task/Part 2/ETL/errors/factrental_propertytypelookuperrors.txt
Advanced Task/Part 2/ETL/errors/FactREntalInsert_Errors.txt
Advanced Task/Part 2/ETL/errors/Geoerrors.txt
Advanced Task/Part 2/ETL/errors/GeoKeyLookup_Errors.txt
Advanced Task/Part 2/ETL/errors/SchoolKeyLookup_Error.txt
Advanced Task/Part 2/ETL/errors/schools_historicalerror.txt
Advanced Task/Part 2/ETL/errors/StateKeyLookup_Errors.txt
Advanced Task/Part 2/ETL/errors/transport.txt
Advanced Task/Part 2/ETL/errors/transport_historicalerrors.txt
Advanced Task/Part 2/ETL/errors/TransportKeyLookup_errors.txt
